body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4A90E2;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

p {
    font-size: 1.1em;
}

section {
    max-width: 620px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    color: #4A90E2;
}

.answer {
    margin-top: 10px;
    padding-left: 20px;
    font-size: 1.1em;
}

footer {
    background-color: #4A90E2;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

#conclusiones {
    margin-top: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
}

.back-button {
    background-color: #4A90E2;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    border: none;
    margin: 20px 0;
}

.back-button:hover {
    background-color: #1a416e;
    /* Color de fondo al pasar el mouse */
    transform: scale(1.05);
    /* Efecto de aumento al pasar el mouse */
}

.back-button:active {
    background-color: #4A90E2;
    /* Color de fondo al hacer clic */
    transform: scale(0.98);
    /* Efecto de reducción al hacer clic */
}