* tf21003-ejemplo2.css   TF21003  */
pais {
    background-color: blue;
  }
  
  departamento {
    background-color: red;
    display: block;
  }
  
  cabecera {
    color: white;
    display: inline;
  }
  
  habitantes {
    color: yellow;
    display: inline;
  }
  
  altura {
    color: yellow;
    font-size: 1cm;
    display: none;
  }
  enlace a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

enlace a:hover {
    color: #2980b9;
}
